github "RxSwiftCommunity/RxGesture"
github "NoTests/RxFeedback.swift"
github "Swinject/Swinject"
github "airbnb/lottie-ios"
github "SnapKit/SnapKit" ~> 4.2.0
github "Quick/Nimble"
github "uber/ios-snapshot-test-case"
github "ashfurrow/Nimble-Snapshots" ~> 6.1.0
github "Alamofire/Alamofire" ~> 4.7
github "Alamofire/AlamofireImage" ~> 3.4
